@media screen and (max-width: 1200px) {
  .container {
    max-width: 100% !important;
    padding: 0 2em;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 1em;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 0.75em;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.center--logo {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 8;
}
@media screen and (max-width: 576px) {
  .center--logo {
    margin-top: 0px;
  }
}
.center--logo a {
  display: block;
}
@media screen and (max-width: 576px) {
  .center--logo a {
    text-align: center;
  }
}
.center--logo a img {
  height: 200px;
}
@media screen and (max-width: 576px) {
  .center--logo a img {
    height: auto;
    width: 90%;
  }
}
header .container {
  z-index: 3;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
header svg,
header img {
  width: auto;
  height: 2.5em;
}
header a {
  text-decoration: none;
}
header .nrn img {
  height: 3.5em;
}
@media screen and (max-width: 576px) {
  header {
    grid-row-start: 5;
  }
}
footer .link--wrapper {
  padding: 2em 4em;
  display: flex;
  justify-content: flex-start;
  gap: 4em;
  align-items: center;
}
footer .link--wrapper .link {
  color: #f3f3f3;
}
@media screen and (max-width: 576px) {
  footer .link--wrapper {
    padding: 1em 0;
    gap: 1em;
  }
}
footer .social {
  margin-left: auto;
  display: flex;
  gap: 1em;
  align-items: center;
}
footer .social svg {
  height: 1.5em;
  width: auto;
}
footer .social img {
  height: 2.2em;
  width: auto;
}

.form {
  color: #f3f3f3;
}
.form input,
.form select {
  box-shadow: none;
  outline: none;
  color: #f3f3f3;
}
.form .form--inline {
  display: flex;
  gap: 1.5em;
  margin: 1.5em 0;
}
@media screen and (max-width: 576px) {
  .form .form--inline {
    flex-wrap: wrap;
  }
}
.form .form--inline .form--group {
  position: relative;
  flex-grow: 2;
  width: 50%;
}
.form .form--inline .form--label {
  position: absolute;
  top: -9px;
  left: 1em;

  padding: 0 0.5em;
  z-index: 2;
  /* color: var(--secondary-colorr); */
  background-color: var(--secondary-color);
}
.form .form--inline .form--input {
  height: 46px;
  background-color: var(--secondary-color);
  box-shadow: none;
  outline: none;
  border: 1px solid #9b9b9b;
  border-radius: 6px;
  padding: 0 1em;
  width: calc(100% - 2em);
}
.form .form--inline .form--input.ph {
  display: flex;
  align-items: center;
}
.form .form--inline .form--input.ph span {
  border-right: 1px solid #f3f3f3;
  padding-right: 1em;
}
.form .form--inline .form--input.ph input {
  flex-grow: 2;
  margin-left: 1em;
  border: 0;
  height: 90%;
  background-color: transparent;
}

.form .form--inline .form--textarea {
  height: 100px;
  padding-top: 1em;
  color: #f3f3f3;
}
.form .form--inline .form--file {
  padding-top: 12px;
  height: 48px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
label {
  cursor: pointer;
}
.btn--center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 3em 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn {
  color: #f3f3f3;
  border: 1px solid #f3f3f3;
  font-size: 18px;
  background-color: transparent;
  padding: 0.8em 7em;
  font-weight: 500;
  border-radius: 6px;
  transition: 0.3s linear;
  cursor: pointer;
}
.btn:hover,
.btn.active {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  color: #2d2d2d;
}
@media screen and (max-width: 576px) {
  .btn {
    padding: 0.8em 2em;
    font-size: 1em;
  }
}
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: transparent !important;
  border-color: #f3f3f3 !important;
  color: #f3f3f3 !important;
}
.para {
  font-size: 1em;
  color: #f3f3f3;
}
.text--center {
  text-align: center;
}
.link {
  color: #f3f3f3;
  text-decoration: none;
}
.link:hover {
  color: #067fff;
}
.container {
  width: 1300px;
  margin: auto;
}
@media screen and (max-width: 1320px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
.tooltip {
  position: absolute;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}
.tooltip svg {
  height: 1.4em;
  width: auto;
}
.tooltip:hover .tooltip--para {
  display: block;
}
.tooltip .tooltip--para {
  background-color: #2d2d2d;
  color: #fcffd9;
  display: none;
  position: absolute;
  max-width: 300px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: normal;
  padding: 0.4em 1em;
  border-radius: 5px;
  margin: 0;
  font-size: 0.8em;
}
.section--title {
  font-size: 1.8em;
  font-weight: bold;
  color: #f3f3f3;
}
.title {
  color: #2d2d2d;
  font-size: 18px;
  line-height: 1.5;
}
p.text {
  color: #2d2d2d;
}
grid {
  display: grid;
}
card {
  display: flex;
}
.img--gyre {
  height: 60px;
  width: auto;
}
.center {
  text-align: center;
}
.hide {
  display: none !important;
}
.progress {
  display: flex;
  height: 8px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
}
.progress .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: 0;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
  width: 0;
  -webkit-animation: progress 5s linear 0.3s 1 forwards;
  animation: progress 5s linear 0.3s 1 forwards;
}
.progress .progress-bar.restart {
  -webkit-animation: none !important;
  animation: none !important;
  width: 0;
}
.progress .progress-bar.sucess {
  width: 100% !important;
  background-color: #38d917;
}
.progress .progress-bar.error {
  background-color: #f04444;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.modal {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  border-radius: 10px;
  width: 700px;
  max-width: 90%;
  max-height: 100vh;
  overflow-y: auto;
  display: none;
}
.modal .modal--wrapper {
  padding: 2em;
}
@media screen and (max-width: 576px) {
  .modal .modal--wrapper {
    padding: 1em;
  }
}
.modal .close {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal--title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
@media screen and (max-width: 576px) {
  .modal .modal--title {
    margin-top: 1em;
  }
}
.modal .modal--title .section--title {
  margin: 0;
  color: #2d2d2d;
}
.modal .para {
  color: #707070;
}
.modal.active {
  display: block;
}
.modal--about .card {
  display: flex;
  line-height: 1.5;
}
.modal--about .card img {
  width: 200px;
  height: auto;
  margin-left: 2em;
}
@media screen and (max-width: 576px) {
  .modal--about .card img {
    margin: 0;
    width: 0;
  }
}
.modal--backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #333;
  z-index: 90;
  opacity: 0.5;
  display: none;
}
.modal--backdrop.active {
  display: block;
}
.modal--judge grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
@media screen and (max-width: 576px) {
  .modal--judge grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.modal--judge card .card__img {
  height: 70px;
  width: 70px;
  min-width: 70px;
  margin-right: 1em;
}
.modal--judge card .card__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.modal--judge card .card__title {
  font-size: 1em;
  margin-bottom: 8px;
  margin-top: 0;
}
.modal--judge card .text {
  margin: 0;
}
.quiz--home .wrapper {
  width: 700px;
  margin: auto;
  max-width: 100%;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .quiz--home .wrapper {
    width: 100%;
  }
}
.quiz--home .wrapper .text {
  width: 350px;
  line-height: 1.5;
  margin: auto;
}
.quiz--home .wrapper .btn--center {
  flex-direction: column;
  gap: 1.5em;
}
.quiz--home .wrapper .btn--center button {
  text-transform: uppercase;
  width: 420px;
  height: 60px;
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  .quiz--home .wrapper .btn--center button {
    width: 200px;
    height: 50px;
  }
}
.page--signup form,
.page--otp form,
.page--quiz form {
  width: 700px;
  margin: auto;
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  .page--signup form,
  .page--otp form,
  .page--quiz form {
    width: 100%;
  }
}
.page--otp {
  text-align: center;
}
.page--otp .text {
  color: #2d2d2d;
  line-height: 1.5;
}
.page--otp .form--inline {
  justify-content: center;
  margin-bottom: 5em;
}
.page--otp .form--inline .form--input {
  width: 46px;
  padding: 0;
  text-align: center;
}
.page--login .form--inline {
  flex-direction: column;
  align-items: center;
}
.winner {
  margin-top: 3em;
}
.winner .form--inline {
  flex-wrap: wrap;
  justify-content: center;
}
.winner .form--inline .form--group {
  width: auto;
  white-space: nowrap;
}
.page--quiz {
  text-align: center;
}
.page--quiz .timmer .section--title {
  color: #707070;
  margin-bottom: 0;
}
.page--quiz .timmer .section--title.warning {
  color: #e85700;
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
.page--quiz .title--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;
}
.page--quiz .form--inline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.page--quiz .form--inline .form--group {
  width: 100%;
}
.page--quiz .form--inline .form--label {
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  display: block;
  border: 1px solid #707070;
  padding: 1.5em 2em;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s linear;
  line-height: 1.5;
}
.page--quiz .form--inline input[type="radio"] {
  opacity: 0;
  height: 0;
  width: 0;
}
.page--quiz .form--inline input:checked + .form--label {
  background-color: var(--secondary-color);
  color: #2d2d2d;
}
.quiz--complete .wrapper {
  width: 500px;
  margin: auto;
  line-height: 1.5;
}

body {
  padding: 2em 0;
  min-height: calc(100vh - 2em);
  height: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-size: cover;
  color: #fff;
  background-color: var(--secondary-color);
}
main {
  background-color: var(--secondary-color);
  padding-bottom: 3em;
}
@media screen and (max-width: 576px) {
  body {
    font-size: 14px;
    padding: 10px 0;
  }
  main {
    padding: 0 20px;
    padding-bottom: 20px;
  }
  .form .form--inline .form--input {
    width: 100%;
  }
}

.radio-group {
  display: flex;
  gap: 9px;
}
.radio-group label {
  margin-right: 10px;
}
